@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
p {
  font-family: "Press Start 2P", cursive;
  color: var(--color-floral-white);
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  margin: 20px 25px;
}
